@using approvalworkflow.Enums
@model UserRequestDashboardViewModel
@{
    var records = Model.Requests;
}
@* List of Submitted Requests *@
    <table class="table table-hover">
        <thead>
            <th scope="col">Request Id</th>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Date Created</th>
            <th scope="col">Date Updated</th>
            <th scope="col"></th>
        </thead>
        <tbody>
            @if(records.Count() == 0)
            {
                <tr>
                    <td colspan="7">
                        No records
                    </td>
                </tr>
            }
            @foreach(var request in records)
            {
                <tr>
                    <td>@request.Id</td>
                    <td>@request.Title</td>
                    <td>@request.Type</td>
                    <td>@request.Status</td>
                    <td>@request.CreatedDate.AddHours(8)</td>
                    <td>@request.UpdatedDate.AddHours(8)</td>
                    <td>
                        <a asp-route="ViewRequest" asp-route-requestId="@request.Id" class="btn btn-outline-primary btn-sm">View</a>
                        @if(request.Status == RequestStatus.Draft)
                        {
                            <a asp-controller="Request" asp-action="Edit" asp-route-requestId="@request.Id" class="btn btn-outline-warning btn-sm">Edit</a>
                            @* <a id="@request.Id" data-id="@request.Id" data-title="@request.Title" class="delete-btn btn btn-outline-danger btn-sm">Delete</a> *@
                        }
                        <a id="@request.Id" data-id="@request.Id" data-title="@request.Title" class="delete-btn btn btn-outline-danger btn-sm">Delete</a>
                        @* @if(request.Status == RequestStatus.Pending)
                        {
                            <a id="@request.Id" class="delete-btn btn btn-outline-danger btn-sm">Cancel</a>
                            
                        } *@
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PaginationPartial" />