@using approvalworkflow.Enums
@model UserRequestDashboardViewModel
@{
    var records = Model.Requests;
}
@* List of Submitted Requests *@
<div id="loading" class="">
    <div id="loading-spinner" class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<table class="paged-table table table-hover">
    <thead>
        <th scope="col">Request Id</th>
        <th scope="col">Title</th>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
        <th scope="col">Date Created</th>
        <th scope="col">Date Updated</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        @if(records.Count() == 0)
        {
            <tr>
                <td colspan="7">
                    No records
                </td>
            </tr>
        }
        @foreach(var request in records)
        {
            <tr data-id="@request.Id">
                <td class="request-info">@request.Id</td>
                <td class="request-info">@request.Title</td>
                <td class="request-info">@request.Type</td>
                <td class="request-info">@request.Status</td>
                <td class="request-info">@request.CreatedDate.AddHours(8)</td>
                <td class="request-info">@request.UpdatedDate.AddHours(8)</td>
                <td class="more-options">
                    @if(request.Status == RequestStatus.Draft || request.Status == RequestStatus.Pending)
                    {
                        <div class="dropdown">
                            <a class="btn dropdown-toggle no-after" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </a>
                            
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                @if(request.Status == RequestStatus.Draft)
                                {
                                    <li><a asp-controller="Request" asp-action="Edit" asp-route-requestId="@request.Id" class="dropdown-item">Edit</a></li>
                                    <li><a id="@request.Id" data-id="@request.Id" data-title="@request.Title" class="dropdown-item delete-btn text-danger">Delete</a></li>
                                    
                                }else if(request.Status == RequestStatus.Pending)
                                {
                                    <li><a id="@request.Id" class="dropdown-item text-danger">Cancel Request</a></li>
                                }
                            </ul>
                        </div>
                    }
                    @* else
                    {
                        <a asp-route="ViewRequest" asp-route-requestId="@request.Id" class="btn btn-outline-primary">View</a>
                    } *@
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model" />